.bloque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(179, 105, 185);
    display: flex;
    flex-wrap: wrap;

}

.tarjeta  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(110, 12, 105);   
    border: 2px solid rgb(255, 196, 252);
    width: 200px;
    height: 200px;
    border-radius: 8px;   

}
/*Las imagenes tienen su propio tamaño
y su relacion de aspecto*/
.imagen {
    width: 150px;
    height: 150px;

}